<div class="body">
    <form class="form" action="" (submit)="send()" [formGroup]="registerForm">
        <div class="inputDiv">
            <p class="p">Fecha:</p>
            <input class="input" type="date" name="fecha" formControlName="fecha">
        </div>
        <a>Clientes</a>
        <select formControlName="cliente">

            <option *ngFor="let title of clientes" [value]="title">
                {{title}}
            </option>

        </select>
        <a>Productos</a>
        <select formControlName="producto">
            <option *ngFor="let producto of productos" [value]="producto">
                {{producto}}
            </option>


        </select>

        <div style="margin-top: 10px;">
            <button class="btn btnCancel" routerLink="/">Cancelar</button>
            <button class="btn btnSucess" type="submit">Comprar</button>
        </div>
    </form>
</div>