<div class="body">
    <form class="form" action="" (submit)="send()" [formGroup]="registerForm">
        <div class="inputDiv">
            <p class="p">Fecha:</p>
            <input class="input" type="date" name="fecha" formControlName="fecha">
        </div>
        <div class="inputDiv">
            <p class="p">Clientes</p>
            <select formControlName="cliente">
                <option *ngFor="let title of clientes" [value]="title">
                    {{title}}
                </option>
            </select>
        </div>
        <div class="inputDiv">
            <p class="p">Productos</p>
            <select formControlName="producto">
                <option *ngFor="let producto of productos" [value]="producto">
                    {{producto}}
                </option>
            </select>
        </div>
        <div class="divButtons">
            <button class="btn btnCancel" routerLink="/">Cancelar</button>
            <button class="btn btnSucess" type="submit">Comprar</button>
        </div>
    </form>
</div>