.btn {
    border-radius: 8px;
}

.btnSucess {
    background-color: #4CAF50;
}

.btnCancel {
    background-color: #E57373;
    transition: .5s;
}

.btnCancel:hover {
    background-color: #f44336;
}
h4{
    font-family: 'Sen', sans-serif;
    color: #D9704A;
    cursor: pointer;
    margin-right: 10px;

}
.divMenu{
    display: flex; 
    justify-content: center; 
    align-items:center;
}
a{
    font-family: 'Sen', sans-serif;
    color: #fa7f72;
}
.conteinerF {
   
    display: flex;
    flex-wrap: wrap;
 
}

.c1F {
    width: 20%;
    padding: 1%;
    
}

.c2F {
    width: 20%;
    padding: 1%;
  
}

