<div class="body">
    <form action="" method="get">
        <p class="p">Nombre:</p>
        <input class="input" type="text" name="nombre" placeholder="Nombre del producto">
        <p class="p">Descripcion:</p>
        <input class="input" type="text" name="descripcion" placeholder="Una descripcion del producto">
        <p class="p">Precio:</p>
        <input class="input" type="text" name="precio" placeholder="Ejemplo: 230">
        <p class="p">Imagen:</p>
        <input class="input" class="input" type="file" name="img">
        <div>
            <button class="btn btnCancel">Cancelar</button>
            <button class="btn btnSucess">Registrar</button>
        </div>
    </form>
</div>