/* You can add global styles to this file, and also import other style files */
.btn {
  border-radius: 6px;
  border-radius: 6px;
  border-right: none;
  font: 120% sans-serif;
}

.btnSucess {
  background-color: #4CAF50;
}

.btnSucess:hover {
  background-color: #257e28;
}

.btnCancel {
  background-color: #E57373;
  transition: .5s;
}

.btnCancel:hover {
  background-color: #f44336;
}

h1 {
  font: 150% sans-serif;
  font-weight: 700;
}

p {
  font: 100% sans-serif;
}

input {
  border-radius: 6px;
}


*{
  margin: 0;
}

.header{
background:#FFE177;
color: green;
height: 80px;

}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  text-align:left;
  padding: 3px;
  background-color:#F25749;
  color: white;
}

.form{
    margin: 10px;
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
    background-color: rgba(242, 188, 87, 0.8);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vh;
    width: 80vh;
}

@media (max-width: 800px) {
    
    .form{
        margin: 0;
        padding: 10px;
        margin-top: 10px;
        width: 250px;
        box-shadow: none;
    }
    .inputDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        width: 90%;
    }
    .input{
        text-align: center;
    }
}
    