<div class="bodyC">

    <div>

        <form class="form" action="" (submit)="send()" [formGroup]="registerForm">
            <div class="inputDiv">
                <p class="p">Documento:</p>
                <input class="input" type="text" name="documento" placeholder="Documento" formControlName="documento">
            </div>
            <div class="inputDiv">
                <p class="p">Nombre:</p>
                <input class="input" type="text" name="nombre" placeholder="Nombre Cliente" formControlName="nombre">
            </div>
            <div class="inputDiv">
                <p class="p">Apellido:</p>
                <input class="input" type="text" name="apellido" placeholder="Apellido Cliente"
                    formControlName="apellido">
            </div>
            <div class="inputDiv">
                <p class="p">Fecha de Nacimiendo:</p>
                <input class="input" type="date" name="fechaNacimiento" formControlName="fechaNacimiento">
            </div>
            <div class="inputDiv">
                <p class="p">Dirección:</p>
                <input class="input" type="text" name="direccion" placeholder="Dirección" formControlName="direccion">
            </div>
            <div class="inputDiv">
                <p class="p">Telefono:</p>
                <input class="input" type="text" name="telefono" placeholder="Telefono" formControlName="telefono">
            </div>
            <div class="divButtons">
                <button class="btn btnCancel" routerLink="/">Cancelar</button>
                <button class="btn btnSucess" [disabled]="registerForm.invalid" type="submit">Registrar</button>
            </div>
        </form>
    </div>
</div>